<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yy.kaitian.yl">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <activity
            android:name="com.yy.kaitian.yl.TDSMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yy.kaitian.yl.DeviceListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/select_device"
            android:theme="@style/CustomDialogTheme2" />
        <activity
            android:name="com.yy.kaitian.yl.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="com.yy.kaitian.yl.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name="com.yy.kaitian.yl.LoginRemoteServerActivity" />
        <activity android:name="com.yy.kaitian.yl.CustomerProfilesEditActivity" />
        <activity android:name="com.yy.kaitian.yl.ProfilesListActivity" />
        <activity android:name="com.yy.kaitian.yl.ProfileDetailActivity" />
        <activity
            android:name="com.yy.kaitian.yl.DetectMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yy.kaitian.yl.PointDetectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yy.kaitian.yl.DeviceManageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.yy.kaitian.yl.PointDatasPreferenceActivity" />
        <activity android:name="com.yy.kaitian.yl.CustomerListPreferenceActivity" />
        <activity
            android:name="com.yy.kaitian.yl.DeviceCheckActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.yy.kaitian.yl.WriteSNActivity" />

        <service android:name="com.yy.kaitian.yl.TDSService" />
    </application>

</manifest>